* {
  box-sizing: border-box; }

html {
  font-weight: 100; }

body {
  font-family: "chaparral-pro";
  font-weight: 100;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  text-align: center; }

h3 {
  font-size: 26px; }

img {
  width: 100%;
  max-width: 500px;
  vertical-align: top; }

a:link, a:visited, a:focus {
  color: #2ba7ff;
  transition: color .3s;
  text-decoration: none; }

a:hover {
  color: #3ed6ff;
  text-decoration: none; }

a:active {
  color: #2ba7ff;
  text-decoration: none; }

.nodecoration {
  color: black !important;
  text-decoration: none; }

.cblock {
  /*display:inline-block;*/
  /*vertical-align:top;*/
  margin: auto;
  width: 100%;
  padding-top: 25px;
  /*border-bottom:1px solid #aaa;*/
  padding-bottom: 25px;
  text-align: left;
  max-width: 850px; }

.cblock:first-of-type {
  border-bottom: none; }

.tblock {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  padding-top: 5px;
  width: 100%;
  max-width: 1000px; }

.wblock {
  margin: auto;
  width: 100%;
  max-width: 1000px;
  padding-bottom: 60px;
  padding-top: 60px; }

.wblock img {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

.wblock .tblock {
  max-width: 700px;
  border: none; }

.layer_container {
  position: relative; }

.layered_img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s; }

img + .tblock {
  max-width: 500px;
  padding-left: 15px; }

.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: normal; }

.description {
  margin-top: 10px; }

.personaldescription {
  max-width: 620px; }

@media (max-width: 519px) {
  .myname {
    margin-top: 10px; }

  .cblock {
    padding-top: 0; }

  .cblock:first-of-type {
    padding-bottom: 0; } }
@media (min-width: 520px) {
  .tblock {
    padding-left: 0;
    padding-right: 0; }

  img + .tblock {
    border-bottom: none;
    padding-left: 0;
    padding-right: 0; }

  body {
    padding-bottom: 50px; }

  .title {
    font-size: 24px; } }
@media (min-width: 1006px) {
  .cblock {
    text-align: center;
    padding-bottom: 50px;
    max-width: 1000px; }

  .cblock:first-of-type {
    padding-bottom: 30px; }

  .tblock {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    padding-bottom: 25px; }

  img {
    padding-right: 10px; }

  img + .tblock {
    padding-top: 0;
    padding-left: 15px; }

  .title {
    font-size: 30px;
    margin-top: -10px; }

  h1 {
    font-size: 48px; }

  .navcontent {
    max-width: 900px;
    margin: auto; } }
@media (min-width: 1026px) {
  .tblock {
    padding-left: 0;
    padding-right: 0; }

  img + .tblock {
    padding-left: 20px; } }
@media (max-width: 1005px) {
  .cblock {
    max-width: 500px; } }
.alwaysshow {
  display: block; }

.portrait {
  margin-top: 15px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding: 0 !important; }

.about_sidebar {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  padding-right: 100px; }

.navbar {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  border-bottom: 1px solid gray;
  text-align: center; }

.navitem {
  margin-right: 20px; }

.navitem:first-of-type {
  margin-right: 0; }

/*# sourceMappingURL=app.css.map */
